* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(assets/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.fas {
  margin-right: 20px;
}

.admin-wrapper {
  position: relative;
  background: rgba(255, 255, 255, 0.95);
  width: 90%;
  max-width: 1060px;
  padding: 50px 50px 100px 50px;
  min-height: 100vh;
  margin: auto;
  color: #121212;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  & h1 {
    text-align: center;
    font-size: 3em;
    color: #fff;
    background: #3F51B5;
    font-weight: 100;
    margin: -50px -50px 30px -50px;
    padding: 30px;
    border-bottom: 4px solid #e0e0e0;
  }
  & h2 {
    text-align: center;
    font-size: 2em;
    color: #42A5F5;
    font-weight: 100;
    margin-bottom: 30px;
  }
}

.back {
  cursor: pointer;
  background: #42A5F5;
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  padding: 30px;
  border-bottom: 2px solid #64B5F6;
  margin: -50px -50px 30px -50px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    background: #2f90de;
    border-bottom: 2px solid #2196F3;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
}

#rofl {
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 0;
  text-align: center;
  color: #585858;
  font-size: 1.1em;
}

.matches-button {
  cursor: pointer;
  background: #fff;
  color: #2979FF;
  border-radius: 5px;
  margin-bottom: 30px;
  text-align: center;
  padding: 40px;
  font-size: 2em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    background: #2979FF;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.48);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
}

.cf {
  width: 100%;
  clear: both;
}
