<div class="admin-wrapper fadeInUp">

  <h2>Upcoming matches:</h2>

  <div *ngFor='let match of data' class="single-match fadeInUp" (click)="singleMatchOpen(match.id)">
    <div class='single-match-id'><strong>ID: </strong>{{match.id}} <i class="far fa-edit" style="float: right;"></i></div>
    <div class='single-match-col'>{{match.homeTeam}} - {{match.awayTeam}}</div>
    <div class='single-match-date'><i class="far fa-clock"></i> {{match.date | date:'dd/MM/yy - HH:mm'}}</div>
  </div>

  <div class="cf"></div>
</div>

<div class="admin-wrapper fadeInUp" [hidden]="!matchId">
  <h2 class='green'>Edit matches:</h2>

  <div class='edit-match fadeInUp' *ngFor='let match of single_data_array' id='{{match.id}}'>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class='edit-match-header'>{{match.homeTeam}} - {{match.awayTeam}}</div>
      <input type='text' class="input-data hidden" name='id' [(ngModel)]='match.id'>
      <input type='text' class="input-data hidden" name='homeTeam' [(ngModel)]='match.homeTeam'>
      <input type='text' class="input-data hidden" name='awayTeam' [(ngModel)]='match.awayTeam'>

      <label class='input-data-label'>Home team goals:</label>
      <input type='number' value='{{match.homeGoals}}' placeholder="Home Team Goals" class="input-data" name='homeGoals' ngModel required>
      <div class="cf"></div>

      <label class='input-data-label'>Away team goals:</label>
      <input type='number' value='{{match.awayGoals}}' placeholder="Away Team Goals" class="input-data" name='awayGoals' ngModel required>
      <div class="cf"></div>

      <label class='input-data-label'>Match status:</label>
      <select class="input-data" name='matchStatus' ngModel required>
        <option value='{{match.matchStatus}}' selected>{{match.matchStatus}}</option>
        <option value='Finished'>Finished</option>
      </select>
      <div class="cf"></div>

      <label class='input-data-label'>Who is a winner?</label>
      <select class="input-data" name='winner' ngModel required>
        <option value='{{match.homeTeam}}'>{{match.homeTeam}}</option>
        <option value='{{match.awayTeam}}'>{{match.awayTeam}}</option>
        <option value='Draw'>Draw</option>
      </select>
      <div class="cf"></div>

      <label class='input-data-label'>Match date:</label>
      <input type='text' placeholder="Match date and time" class="input-data" name='date' [(ngModel)]='match.date'>

      <div class="cf"></div>
      <button class="save-button" type='submit' [disabled]="!f.valid">Save</button>
    </form>
  </div>
</div>
