<h2>Edit match</h2>

<div class='edit-match' *ngFor='let match of single_data_array'>
  <input type='text' value='{{match.homeTeam}}' class="input-data">
  <input type='text' value='{{match.awayTeam}}' class="input-data">
  <input type='number' value='{{match.homeGoals}}' placeholder="Home Team Goals" class="input-data">
  <input type='number' value='{{match.awayGoals}}' placeholder="Away Team Goals" class="input-data">
  <input type='text' value='{{match.matchStatus}}' class="input-data">
  <input type='text' value='{{match.date}}' class="input-data">
  <input type='text' value='{{match.winner}}' placeholder="Winner!" class="input-data">
</div>
