<div class="admin-wrapper">

  <div *ngIf="welcomePage">
    <h1>Welcome to Global Betting admin!</h1>

    <div class="matches-button" (click)="addMatchFunction()">
      <i class="fas fa-futbol"></i> Add new match!
    </div>

    <div class="matches-button" (click)="addResultFunction()">
      <i class="fas fa-trophy"></i> Add match result!
    </div>

    <div class="matches-button" (click)="matchesHistoryFunction()">
      <i class="fas fa-history"></i> History
    </div>
  </div>

  <div *ngIf="addMatch">
    <div class="back" (click)='backFunction()'>
      <i class="fas fa-chevron-left"></i> Back
    </div>
    <h2>Add new match bet!</h2>

  </div>

  <div *ngIf="matchResult">
    <div class="back" (click)='backFunction()'>
      <i class="fas fa-chevron-left"></i> Back
    </div>
    <h2>Add match result!</h2>

  </div>

  <div *ngIf="matchesHistory">
    <div class="back" (click)='backFunction()'>
      <i class="fas fa-chevron-left"></i> Back
    </div>
    <h2>Matches history!</h2>

  </div>

  <div id='rofl'>
    <strong>2K19</strong><br/>
    All right not reserver
  </div>

</div>
